<mat-card *ngIf="pokemon" [ngClass]="{'text-center': !fullWidthMode}">
  <div [ngClass]="{'flex': fullWidthMode}">
    <img class="mb-1 mx-auto object-contain" [ngClass]="{'h-[200px]': fullWidthMode}" [src]="pokemon.image">
    <div class="w-full">
      <div [ngClass]="{'px-8 py-2 flex flex-col justify-between': fullWidthMode}">
        <p data-cy="pokemon-name">{{pokemon.name}}</p>
        <p>ID: {{pokemon.id}}</p>
        <p>{{pokemon['type(s)']}}</p>
        <p *ngIf="fullWidthMode">{{pokemon.description}}</p>
      </div>
      <div class="flex p-3 mt-5" [ngClass]="{'justify-between': !fullWidthMode, 'justify-evenly': fullWidthMode}">
        <span class="text-red-400">{{pokemon.price| currency:'EUR'}}</span>
        <button (click)="onAddToCart()" data-cy="add-to-cart">
          <mat-icon class="text-yellow-600">catching_pokemon</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
