<div id="disclaimer" class="min-h-fit max-w-7xl mx-auto border-x">
  <strong>Disclaimer:</strong>

  This website/app is a personal project created for educational and testing purposes only. It is not an official
  Pokémon product, and we are not affiliated with or endorsed by Pokémon, Nintendo, Creatures Inc., or Game Freak Inc.
  All Pokémon-related content, names, and trademarks are the property of their respective owners.

  Any "purchases" made on this website/app are not real transactions and do not involve actual monetary transactions.
  The website/app operates solely in a testing environment, utilizing Stripe's test mode.

  This project complies with the guidelines provided by Pokémon in their legal information regarding the use of Fan Art.
  No commercial gain is intended, and no claims are made regarding the official status of this project.
</div>
